*{
    margin: 0;
    padding: 0;
}
/* 表单box样式 */
.l-form-box{
    width:100%;
    height:40px;
    margin:10px 0;
}
.l-form-box .l-grpBtn-box{
    float:right;
}
/*  */
.y-labelDetail-container{
    width: 100%;
    height: 100%;
   
    flex-wrap: nowrap;
    min-width: 900px;
}
.y-labelDetail-position,.y-labelDetail-content{
    width:100%;
    display: flex;
    position: relative;
}
.y-labelDetail-content{
    height: 100%;
}
.y-labelDetail-left{
    width: 20%;
    height: 740px;
    padding-right: 20px;
    border-right: 1px solid #ccc;
}
.y-labelDetail-right{
    width: 80%;
    height: 740px;
    padding-left: 20px;
}
.y-labelDetail-right>p{
    font-size: 15px;
}
/* 创建词条 */
.l-addMdlabel-box,.l-addMdlabel-content{
    width:100%;
    background-color:#fff;
}
.l-addMdlabel-content{
    display:flex;
    height: 100%;
}
.l-addMdlabel-lefttree{
    width:25%;
    min-width:200px;
    padding:10px;
    box-sizing:border-box;
    min-height:500px;
    border-right:1px solid #ddd;
}
.l-addMdlabel-rightEditor{
    padding:20px;
    box-sizing:border-box;
}
.l-addMdlabel-btn{
    width:305px;
    margin:20px auto;
}
.l-fome-label{
    text-align: right;
    vertical-align: middle;
    line-height: 39.9999px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    color: rgba(0, 0, 0, 0.85);
}
.l-fome-label>span{
    color:#f00;
    margin-right:5px;
}    
body :global .l-addMdlabel-lefttree .ant-input{
    width:69%;
}
body :global .l-addMdlabel-rightEditor .ant-input{
    width:90%;
}
