.l-reset-content{
    width:100%;
    display:flex;
}
.l-reset-leftTree{
    width:15%;
    min-height:650px;
    padding:20px 10px;
    border-right:1px solid #ddd;
    box-sizing:border-box;
}
.l-reset-centertable{
    width:50%;
    padding:20px;
    border-right:1px solid #ddd;
    box-sizing:border-box;
}
.l-reset-righttable{
    width:35%;
    padding:20px;
    box-sizing:border-box;
}
.l-content-h3{
    line-height:31px;
    color: #1890ff;
}
body :global .l-reset-leftTree .ant-btn{
    padding: 0 10px;
    height: 30px;
    margin-right: 5px;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
}